* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
}

h1, h2, h3 {
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    font-size: 2.6rem;
    margin: 0;
    color: #fff;
}

h2 {
    font-size: 2.2rem;
    margin: 0;
    color: #fff;
}
  
p {
    font-family: 'Fira Sans', sans-serif;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    line-height: 1.5;
}

.wrapper {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "welcome welcome welcome learn learn learn"
    "welcome welcome welcome join join join"
    ". navigation navigation navigation navigation ."
    "info info info info info info"
    "cards cards cards cards cards cards"
    "about about about about about about"
    "how how how how how how"
    "up up up up up up"
    "footer footer footer footer footer footer" ;
}

.welcome {
    grid-area: welcome;
    height: 35rem;
    background-image: url("../img/family.png");
    background-position: 90% bottom;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: #C7DDEA;
    padding: 4rem;
}

.welcome__text {
    margin-bottom: 2.5rem;
}

.learn {
    grid-area: learn;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F17949;
}

.join {
    grid-area: join;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAB131;
}

.join-button {
    background-color: #fff;
    text-transform: uppercase;
    padding: 0 2rem;
    border-radius: 999rem;
    border: none;
    height: 2.5rem;
    cursor: pointer;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.navigation {
    grid-area: navigation;
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
}

.navigation__item {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

.active {
    color: #000000;
}

.info {
    grid-area: info;
    display: flex;
    background-color: #A9A19E;
    height: 40rem;
}

.info__join {
    padding: 5rem;
}

.info__join h1 {
    max-width: 500px;
    margin-bottom: 3rem;
}

.info__text {
    max-width: 420px;
    padding: 5rem;
}

.cards {
    grid-area: cards;
    display: flex;
    justify-content: center;
    background-color: #FAB131;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 275px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    margin: 0.5rem;
    padding: 1rem;
    transform: translateY(-200px);
}

.card h3 {
    margin: 0;
}

.card p {
    font-size: 0.7rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}

.card__children, .card__just-right, .card__old-fart {
    width: 100%;
    height: 10rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.card__children {
    background-image: url("../img/child.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center -55%;
    background-color: #C7DDEA;
    transform: translateY(-50px);
}

.card__just-right {
    width: 100%;
    height: 10rem;
    background-image: url("../img/adult.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center -5%;
    background-color: #FAB131;
    transform: translateY(-50px);
}

.card__old-fart {
    width: 100%;
    height: 10rem;
    background-image: url("../img/old.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center -7%;
    background-color: #F17949;
    transform: translateY(-50px);
}

.about-us {
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAB131;
    padding-bottom: 8rem;
}

.about-us p {
    max-width: 500px;
    text-align: center;
}

.how {
    grid-area: how;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.how__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background-color: #fff;
    position: relative;
}

.how__box aside {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}

.how__box p {
    margin-top: auto;
    margin-bottom: auto;
}

.how__box--blue {
    background-color: #C7DDEA;
}

.how__box--grey {
    background-color: #EBEBEB;
}

.how__box--orange {
    background-color: #F17949;
}

.up {
    grid-area: up;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 0.8rem;
}

.footer {
    grid-area: footer;
    min-height: 20rem;
    background-color: gray;
}